<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ninjas</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='my_style_sheet.css') }}">
</head>
<body>
    <h1>Ninjas</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam eu felis felis. In hac habitasse platea dictumst. Sed viverra,
    massa in convallis condimentum, elit diam viverra dolor, ac volutpat massa tortor convallis eros. Curabitur at aliquam
    orci, quis semper odio. Etiam a risus semper, facilisis urna vel, efficitur mi. Cras vel erat ultrices, efficitur erat
    rhoncus, facilisis quam. Ut tortor leo, finibus ac ultricies a, lacinia non dui. Donec non consectetur sem. Sed aliquam
    iaculis purus, sit amet imperdiet ex cursus non. Vivamus sit amet lectus vitae nulla rutrum consequat eget et mi.
</p>
</body>
</html>